<section id="portfolio">
  <h2 i18n>Portfolio</h2>
  <swiper-container #swiper initial-slide="0" :pagination="true" :navigation="true" :mousewheel="true">
    <swiper-slide>
      <div class="portfolio">
        <div class="row">
          <div class="col">
            <img src="./assets/img/paraisobikes.png" alt="Paraíso das Bikes">
          </div>
          <div class="col">
            <h2 i18n>Paraíso das Bikes</h2>
            <p i18n>Desenvolvi o site para a bicicletaria Paraíso das Bikes criando do zero uma loja virtual, integração com marketplaces, entre outras soluções personalizadas para a empresa</p>
            <div class="technologies">
              <div>
                <img src="./assets/img/csharp.png" alt="CSharp">
              </div>
              <div>
                <img src="./assets/img/vue.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/msserverinvert.png" alt="SQL Server">
              </div>
              <div>
                <img src="./assets/img/tailwind.png" alt="Tailwind">
              </div>
              <div>
                <img src="./assets/img/docker.png" alt="Docker">
              </div>
            </div>
            <div class="buttons">
<!--              <button class="repository" i18n>Repositório</button>-->
<!--              <button class="live" i18n>Website</button>-->
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="portfolio __invert">
        <div class="row">
          <div class="col">
            <img src="./assets/img/coin-converter.png" alt="Paraíso das Bikes">
          </div>
          <div class="col">
            <h2 i18n>Coin Converter</h2>
            <p i18n>Um conversor de moedas que utiliza a API Exchange Rates para converter as principais moedas em tempo real</p>
            <div class="technologies">
              <div>
                <img src="./assets/img/vue.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/tailwind.png" alt="Tailwind">
              </div>
            </div>
            <div class="buttons">
<!--              <button class="repository" i18n>Repositório</button>-->
<!--              <button class="live" i18n>Website</button>-->
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="portfolio">
        <div class="row">
          <div class="col">
            <img src="./assets/img/momento-clima.png" alt="Momento Clima">
          </div>
          <div class="col">
            <h2 i18n>Momento Clima</h2>
            <p i18n>Um website que utiliza a API da Open Weather Map para trazer o clima em tempo real para os usuários</p>
            <div class="technologies">
              <div>
                <img src="./assets/img/php.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/laravel.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/html.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/css.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/bootstrap.png" alt="Vue">
              </div>
            </div>
            <div class="buttons">
<!--              <button class="repository" i18n>Repositório</button>-->
<!--              <button class="live" i18n>Website</button>-->
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="portfolio __invert">
        <div class="row">
          <div class="col">
            <img src="./assets/img/bookstan.jpg" alt="Bookstan">
          </div>
          <div class="col">
            <h2 i18n>Bookstan</h2>
            <p i18n>Um website com uma IA que captura os interesses do usuário e sugere os livros mais interessantes para ele ler no momento.</p>
            <div class="technologies">
              <div>
                <img src="./assets/img/php.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/laravel.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/html.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/css.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/bootstrap.png" alt="Vue">
              </div>
            </div>
            <div class="buttons">
<!--              <button class="repository" i18n>Repositório</button>-->
<!--              <button class="live" i18n>Website</button>-->
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
<!--    <swiper-slide>-->
<!--      <div class="portfolio ">-->
<!--        <div class="row">-->
<!--          <div class="col">-->
<!--&lt;!&ndash;            <img src="./assets/img/bookstan.jpg" alt="Bookstan">&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <h2>NeooSaude</h2>-->
<!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis nemo numquam possimus qui, repellat tempore. Consequatur consequuntur delectus, ea est excepturi expedita libero mollitia neque, perferendis porro quos tenetur velit!</p>-->
<!--            <div class="technologies">-->
<!--              <div>-->
<!--                <img src="./assets/img/php.png" alt="Vue">-->
<!--              </div>-->
<!--              <div>-->
<!--                <img src="./assets/img/laravel.png" alt="Vue">-->
<!--              </div>-->
<!--              <div>-->
<!--                <img src="./assets/img/html.png" alt="Vue">-->
<!--              </div>-->
<!--              <div>-->
<!--                <img src="./assets/img/css.png" alt="Vue">-->
<!--              </div>-->
<!--              <div>-->
<!--                <img src="./assets/img/bootstrap.png" alt="Vue">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="buttons">-->
<!--              <button class="repository">Repositório</button>-->
<!--              <button class="live">Website</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </swiper-slide>-->
  </swiper-container>
</section>
