<section id="portfolio">
  <h2>Portfolio</h2>
  <swiper-container #swiper initial-slide="0" :pagination="true" :navigation="true" :mousewheel="true">
    <swiper-slide>
      <div class="portfolio">
        <div class="row">
          <div class="col">
            <img src="./assets/img/paraisobikes.png" alt="Paraíso das Bikes">
          </div>
          <div class="col">
            <h2>Paraíso das Bikes</h2>
            <p>Desenvolvi o site para a bicicletaria Paraíso das Bikes criando do zero uma loja virtual, integração com marketplaces, entre outras soluções personalizadas para a empresa</p>
            <div class="technologies">
              <div>
                <img src="./assets/img/csharp.png" alt="CSharp">
              </div>
              <div>
                <img src="./assets/img/vue.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/sql-server.png" alt="SQL Server">
              </div>
              <div>
                <img src="./assets/img/tailwind.png" alt="Tailwind">
              </div>
              <div>
                <img src="./assets/img/docker.png" alt="Docker">
              </div>
            </div>
            <div class="buttons">
              <button class="repository">Repositório</button>
              <button class="live">Website</button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="portfolio __invert">
        <div class="row">
          <div class="col">
            <img src="./assets/img/paraisobikes.png" alt="Paraíso das Bikes">
          </div>
          <div class="col">
            <h2>Paraíso das Bikes</h2>
            <p>Desenvolvi o site para a bicicletaria Paraíso das Bikes criando do zero uma loja virtual, integração com marketplaces, entre outras soluções personalizadas para a empresa</p>
            <div class="technologies">
              <div>
                <img src="./assets/img/csharp.png" alt="CSharp">
              </div>
              <div>
                <img src="./assets/img/vue.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/sql-server.png" alt="SQL Server">
              </div>
              <div>
                <img src="./assets/img/tailwind.png" alt="Tailwind">
              </div>
              <div>
                <img src="./assets/img/docker.png" alt="Docker">
              </div>
            </div>
            <div class="buttons">
              <button class="repository">Repositório</button>
              <button class="live">Website</button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="portfolio">
        <div class="row">
          <div class="col">
            <img src="./assets/img/paraisobikes.png" alt="Paraíso das Bikes">
          </div>
          <div class="col">
            <h2>Paraíso das Bikes</h2>
            <p>Desenvolvi o site para a bicicletaria Paraíso das Bikes criando do zero uma loja virtual, integração com marketplaces, entre outras soluções personalizadas para a empresa</p>
            <div class="technologies">
              <div>
                <img src="./assets/img/csharp.png" alt="CSharp">
              </div>
              <div>
                <img src="./assets/img/vue.png" alt="Vue">
              </div>
              <div>
                <img src="./assets/img/sql-server.png" alt="SQL Server">
              </div>
              <div>
                <img src="./assets/img/tailwind.png" alt="Tailwind">
              </div>
              <div>
                <img src="./assets/img/docker.png" alt="Docker">
              </div>
            </div>
            <div class="buttons">
              <button class="repository">Repositório</button>
              <button class="live">Website</button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
