<section id="about">
  <h2>Quem sou</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eos laboriosam laudantium magni maiores minima nemo porro quae repudiandae rerum. Deserunt exercitationem facilis iste necessitatibus quod suscipit? Deleniti dolores eius harum labore, nulla quam ratione reiciendis unde! Animi blanditiis culpa debitis doloribus earum et, nam placeat qui sit tempore velit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eos laboriosam laudantium magni maiores minima nemo porro quae repudiandae rerum. Deserunt exercitationem facilis iste necessitatibus quod suscipit.</p>
</section>
