section#about {
  padding: 0 20% 50px 20%;
  background: #fff;
}
@media screen and (max-width: 768px) {
  section#about {
    padding: 0 5%;
  }
}
section#about h2 {
  text-align: center;
}

section#about p {
  font-weight: 400;
  text-align: justify;
}
