<section id="about">
  <h2 i18n>Quem sou</h2>
  <p i18n>Nascido em 23/03/2000, atualmente moro em Guarulhos, SP, e trabalho como dev há 4 anos</p>
  <p i18n>Cursei Ciência da Computação pela Universidade Cruzeiro do Sul no polo de São Miguel, tendo feito o curso nos intervalos de 06/2018 à 06/2023, onde tive um bom desenvolvimento, e solidifiquei minha base como programador aprendendo as principais técnicas e estratégias para o desenvolvimento de algoritmos além de dar uma importante passada por cada uma das áreas do campo.</p>
  <p i18n>Dei meus primeiros passos na área no começo de 2019 onde comecei a desenvolver e dar manutenção em alguns sites e entrei em meu primeiro estágio na RSN Brasil Técnologias no meio do mesmo ano, após pouco mais de uma temporada trabalhando na empresa, encontrei uma nova oportunidade na Reação Web, onde entrei também como estagiário e acabei chegando até o cargo de dev pleno.</p>
  <p i18n>Durante esse período criei e trabalhei em diversos projetos, tanto nas empresas em que trabalhei quanto pessoalmente também fiz diversos cursos e aprendi muitas técnologias.</p>
  <p i18n>Tenho como principais características, alta adaptabilidade, ótimo trabalho em equipe, bastante foco e muito esforço, sou um hábil solucionador de problemas e tenho muita ambição e capacidade de esforço para atingir meus objetivos e dos objetivos dos projetos onde trabalho.</p>
  <p i18n>Fora do trabalho meus principais hobbies são: futebol, videogames, filmes, café e praticar natação.</p>
</section>
