<section id="carrer">
  <div>
    <h2 i18n>Experiência</h2>
    <h3 i18n>Reação Web</h3>
    <h4 i18n>09/2021 ~ Atualmente</h4>
    <p i18n>Aqui desenvolvi e participei do desenvolvimento de dezenas de sites, sistemas e as mais diversas soluçoes personalizadas. Utilizei principalmente PHP, TypeScript, Vue, HTML, CSS, Node, Git, MySQL, C#, .Net e mais.</p>
    <h3 i18n>RSN Brasil Tecnologia</h3>
    <h4 i18n>07/2020 ~ 09/2021</h4>
    <p i18n>Fiz estágio na agência RSN Brasil, onde tive a oportunidade de desenvolver mais de uma dezena de sites, incluindo o site oficial da empresa e seu painel administrativo. Além disso, também criei sites para diversos clientes. Durante essa experiência, utilizei principalmente tecnologias como PHP, Wordpress, JavaScript, HTML e CSS.</p>
    <h3 i18n>MainCode</h3>
    <p i18n>Trabalhei como desenvolvedor web autônomo, onde tive a oportunidade de criar soluções web utilizando uma variedade de tecnologias, como C#, Node.js, PHP e Vue.js. Durante esse período, desenvolvi diversas páginas e landpages, além de ter experiência em integrações com ERPs e sistemas de pagamento. Também tive a oportunidade de criar dashboards e sistemas personalizados.</p>
  </div>

  <div>
    <h2 i18n>Educação</h2>
    <h3 i18n>Ciëncia da computação</h3>
    <h4 i18n>Universidade Cruzeiro do Sul</h4>
    <h5 i18n>2018 ~ 2023</h5>
    <p i18n>Neste curso, adquiri conhecimentos teóricos e práticos sobre os fundamentos da computação, como algoritmos, estruturas de dados, linguagens de programação, sistemas operacionais, redes, banco de dados, inteligência artificial e engenharia de software. Também desenvolvi habilidades para analisar, projetar e implementar soluções computacionais para diversos problemas e domínios. Além disso, participei de projetos integradores, atividades complementares e estágios que me proporcionaram experiência profissional e acadêmica na área de computação.</p>
  </div>
</section>
