<section id="carrer">
  <div>
    <h2 i18n>Experiência</h2>
    <h3 i18n>Reação Web</h3>
    <h4 i18n>09/2021 ~ Atualmente</h4>
    <p i18n>Na Reação Web trabalhei no desenvolvimento e manutenção de diversos websites, integrações e sistemas personalizados, contribui no desenvolvimento de uma plataforma SaaS para consultórios médicos, desenvolvi diversas lojas virtuais, liderei o desenvolvimento do sistema interno da empresa, trabalhei na manutenção de um sistema utilizado em cartórios e trabalhei no desenvolvimento de uma plataforma de investimentos.</p>
    <h3 i18n>RSN Brasil Tecnologia</h3>
    <h4 i18n>07/2020 ~ 09/2021</h4>
    <p i18n>Fiz estágio na RSN Brasil como desenvolvedor web atuando no desenvolvimento de sites tanto no sistema interno da empresa como no site de parceiros, também atuei no desenvolvimento de uma plataforma de indicações de uma fintech.</p>
  </div>

  <div>
    <h2 i18n>Educação</h2>
    <h3 i18n>Ciëncia da computação</h3>
    <h4 i18n>Universidade Cruzeiro do Sul</h4>
    <h5 i18n>2018 ~ 2023</h5>
    <p i18n>Neste curso, adquiri conhecimentos teóricos e práticos sobre os fundamentos da computação, como algoritmos, estruturas de dados, linguagens de programação, sistemas operacionais, redes, banco de dados, inteligência artificial e engenharia de software. Também desenvolvi habilidades para analisar, projetar e implementar soluções computacionais para diversos problemas e domínios. Além disso, participei de projetos integradores, atividades complementares e estágios que me proporcionaram experiência profissional e acadêmica na área de computação.</p>
  </div>
</section>
