header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(112, 71, 235, 0.1);
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
