section#banner {
  background-color: #12002d;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 0 5%;
}
section#banner .row {
  display: grid;
  align-items: center;
  grid-template-columns: 40% 60%;
}
section#banner h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}
section#banner p {
  font-weight: 200;
}
section#banner img {
  width: 50%;
}
section#banner button {
  margin-top: 15px;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #7047eb;
  color: #fff;
}

section#banner button:hover{
  color: #000;
  background-color: #fff;
}
