<section id="banner">
  <div class="row">
    <div class="col">
      <img src="./assets/img/jesse.png" alt="Jessé Carvalho">
    </div>
    <div class="col">
      <h2 i18n>Jessé Carvalho</h2>
      <h3 i18n>Desenvolvedor Full-Stack</h3>
      <p i18n>Formado em ciência da computação, atuo como desenvolvedor web full-stack há mais de quatro anos, eu domino diversas tecnologias, como C#, .NET, Node, PHP, Vue, Angular e TypeScript, e estou sempre disposto a aprender novas ferramentas e metodologias. Trabalho bem em equipe e valorizo o feedback e a troca de experiências.</p>
      <a href="#skills">
        <button i18n>Conheça meu trabalho</button>
      </a>
    </div>
  </div>

</section>
