<section id="skills">
  <h2>Tecnologias e ferramentas</h2>

  <div class="grid">
    <div>
      <img src="./assets/img/csharp.png" alt="Csharp" title="CSharp">
      <p>C#</p>
    </div>
    <div>
      <img src="./assets/img/php.png" alt="PHP" title="PHP">
      <p>PHP</p>
    </div>
    <div>
      <img src="./assets/img/node.png" alt="NODE" title="Node.JS">
      <p>Node.JS</p>
    </div>
    <div>
      <img src="./assets/img/vue.png" alt="Vue" title="Vue.js">
      <p>Vue.JS</p>
    </div>
    <div>
      <img src="./assets/img/angular.png" alt="Angular" title="Angular">
      <p>Angular</p>
    </div>
    <div>
      <img src="./assets/img/typescript.png" alt="TypeScript" title="TypeScript">
      <p>TypeScript</p>
    </div>
    <div>
      <img src="./assets/img/javascript.png" alt="JavaScript" title="JavaScript">
      <p>Javascript</p>
    </div>
    <div>
      <img src="./assets/img/html.png" alt="Html" title="HTML">
      <p>HTML</p>
    </div>
    <div>
      <img src="./assets/img/css.png" alt="Css" title="CSS">
      <p>CSS</p>
    </div>
    <div>
      <img src="./assets/img/mysql.png" alt="MySQL" title="MySQL">
      <p>MySQL</p>
    </div>
    <div>
      <img src="./assets/img/mssql.png" alt="Microsoft SQL Server" title="Microsoft SQL Server">
      <p>MSSQL</p>
    </div>
    <div>
      <img src="./assets/img/mongodb.png" alt="MongoDB" title="Mongo DB">
      <p>Mongo DB</p>
    </div>
    <div>
      <img src="./assets/img/docker.png" alt="Docker" title="Docker">
      <p>Docker</p>
    </div>
    <div>
      <img src="./assets/img/tailwind.png" alt="Tailwind">
      <p>Tailwind</p>
    </div>
  </div>

</section>
