section#skills {
  padding: 50px 20% 0;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  section#skills {
    padding: 0 5%;
  }
}
section#skills h2 {
  text-align: center;
}
section#skills h3 {
  text-align: center;
}
section#skills .grid {
  display: grid;
  grid-template-columns: 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66% 6.66%;
  flex-direction: row;
  margin: auto;
  width: fit-content;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  section#skills .grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% 20% 20%;
    flex-direction: row;
    margin: auto;
    width: fit-content;
    justify-content: center;
  }
}
section#skills .grid div{
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 15px 0;
}
section#skills .grid div p{
  margin: 3px 0 0 0;
  text-align: center;
  font-size: 8px;
}
section#skills .grid img{
  width: 75%;
  margin: auto;
}
