<section id="skills">
  <h2>Skills e ferramentas</h2>
  <h3>Backend</h3>
  <div class="grid">
    <div>
      <img src="./assets/img/csharp.png" alt="Csharp">
    </div>
    <div>
      <img src="./assets/img/vue.png" alt="Csharp">
    </div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <h3>Front-end</h3>
  <div class="grid">
    <div>
      <img src="./assets/img/csharp.png" alt="Csharp">
    </div>
    <div>
      <img src="./assets/img/vue.png" alt="Csharp">
    </div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <h3>Bancos de dados</h3>
  <div class="grid">
    <div>
      <img src="./assets/img/csharp.png" alt="Csharp">
    </div>
    <div>
      <img src="./assets/img/vue.png" alt="Csharp">
    </div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <h3>Plataformas e Ferramentas</h3>
  <div class="grid">
    <div>
      <img src="./assets/img/csharp.png" alt="Csharp">
    </div>
    <div>
      <img src="./assets/img/vue.png" alt="Csharp">
    </div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>
